*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  background-color: #FFD53D; }

.tophat {
  width: 100px;
  height: 100px; }

#output {
  overflow: hidden; }

.row {
  max-width: 114rem;
  background-color: #FFD53D;
  margin: 0 auto;
  margin-bottom: 1rem; }
  .row [class^="col-"] {
    border-radius: 3rem;
    height: 10rem;
    font-size: 6rem;
    font-family: "Lucida Console", Lucida, monospace;
    background-color: #FF4567;
    text-align: center;
    vertical-align: middle;
    line-height: 10rem;
    /* the same as your div height */
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1rem; }
  .row:not(:last-child) {
    margin-bottom: 1rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 1rem)/4); }
  .row .col-2-of-4 {
    width: calc((100% - 1rem)/2); }
  .row .col-4-of-4 {
    background-color: #eee;
    width: 100%; }
