//BACKGROUND
$background-color: #FFD53D;

//CALCULATOR
$btn-color: #FF4567;
$text-color: #141F1D;

//Calcbox
$calc-width:35rem;
$calc-height: 25rem;

//--calcButton
$calc-btn-dim:5rem;
////////////////////////////
// GRID
$grid-width: 114rem;
$gutter-vertical: 1rem;
$gutter-horizontal: 1rem;
