//BACKGROUND
$background-color: #E1EDEB;

//CALCULATOR
$background-calculator: #FFD53D;
$btn-color: #FF4567;
$text-color: #141F1D;

//Calcbox
$calc-width:35rem;
$calc-height: 25rem;

//--calcButton
$calc-btn-dim:5rem;
////////////////////////////
// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
