//Standard is 1140px = 114rem
.row{
  max-width: $grid-width;
  background-color: #FFD53D;
  margin:0 auto;
  margin-bottom: $gutter-vertical;


  [class^="col-"]{
    border-radius:3rem;
    height:10rem;
    font-size:6rem;
    font-family: "Lucida Console", Lucida, monospace;
    background-color:#FF4567;
    text-align: center;
    vertical-align: middle;
    line-height: 10rem;       /* the same as your div height */
    float:left;
    &:not(:last-child){
      margin-right: $gutter-horizontal;
    }
  }
  &:not(:last-child){
      margin-bottom:  $gutter-vertical;
  }
  @include clearfix;

  .col-1-of-4 { //three gutters
    width: calc((100% - 3 * #{$gutter-horizontal})/4);
  }
  .col-2-of-4 { // 2/4 = 1/2
  width: calc((100% - #{$gutter-horizontal})/2);
  }
  .col-4-of-4 {
    background-color:#eee;
    width:100%;
  }

}
